@charset "utf-8";

.edit-list {
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
}


.mr-auto {
    margin-right: auto;
    margin-left: auto;
}

.row-table {
    cursor: pointer;
}

.header-form-edit {
    font-weight: 500;
    font-size: 20px;
}

.errors {
    text-align: center;
    color: #DC143C;
}