@charset "utf-8";

/*.sing-in {*/
/*    background-color: #DC143C;*/
/*}*/

.sing-in {
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    max-width: 400px;
    border: 1px solid #778899;
    background-color: #F8F8FF;
}

.header-form-sing-in {
    font-weight: 500;
    font-size: 20px;
}


.mr-auto {
    margin-right: auto;
    margin-left: auto;
}

.column-width {
    width: 114px;
}

.errors {
    text-align: center;
    color: #DC143C;
}